img.octocat {
    height: 200px;
}
.container{
    width: 800px;
}
.row{
    margin: 10px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}
.top{
    background-color: rebeccapurple;
}
.mid{
    background-color: plum;
    justify-content: space-evenly;
}
.bot{
    background-color: palevioletred;
}
